.Home-container {
  background-color: #152850;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 30px;
}
.home-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.digital-container {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1110px;
}
.image-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
